<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22498668581-4hbd3cpc1ba079pibos4hsllcqvjk8fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22498668581-4hbd3cpc1ba079pibos4hsllcqvjk8fm</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyBfDmtldLGBKeBN1Q2vXJFoN26Fkv9Dcu4</string>
	<key>GCM_SENDER_ID</key>
	<string>22498668581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bdriah.World-Cup-matches</string>
	<key>PROJECT_ID</key>
	<string>world-cup-2022-f177d</string>
	<key>STORAGE_BUCKET</key>
	<string>world-cup-2022-f177d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:22498668581:ios:10ff3046e9b98d42c54fcc</string>
</dict>
</plist>
